<div class="container">
   <div class="row mt-4">
      
      <div class="col-4">
         <div class="card h-100 no-hover">
            <div class="card-header bg-primary text-white">
               <h5 class="mb-0">INFORMACIÓN DE LA EMPRESA</h5>
            </div>
            <div class="card-body">
               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Nombre</strong>
                  </div>
                  <div>Quipux S.A.S</div>
               </div>

               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Fecha de creación</strong>
                  </div>
                  <div>1995/05/06</div>
               </div>

               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Dirección</strong>
                  </div>
                  <div>Carrera 43A No. 3 Sur-130</div>
                  <div>Ed. Milla de Oro</div>
                  <div>Distrito de negocios Torre 1</div>
                  <div>Piso 12</div>
                  <div>Medellín - Colombia</div>
               </div>

               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Número de teléfonos</strong>
                  </div>
                  <div>
                     <strong>Fijo:</strong> +57 (4) 313-70-00
                  </div>
                  <div>
                     <strong>Fax:</strong> +57 (4) 313-44-77
                  </div>
               </div>

               <div class="text-center">
                  <div class="mb-2">
                     <strong>Sitio Web</strong>
                  </div>
                  <div>
                     <a href="http://www.quipux.com/site" class="text-primary">www.quipux.com/site</a>
                  </div>
               </div>
            </div>
         </div>
      </div>

     
      <div class="col-8">
         <div class="card h-100 no-hover">
            <div class="card-header bg-primary text-white">
               <h5 class="mb-0">INFORMACIÓN DEL CONTACTO</h5>
            </div>
            <div class="card-body">
               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Dirección</strong>
                  </div>
                  <div>Carrera 52 # 91-66</div>
                  <div>Medellín Colombia</div>
               </div>

               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Dirección de correspondencia de correo</strong>
                  </div>
                  <div>Carrera 52 # 91-66</div>
                  <div>Envigado Colombia</div>
               </div>

               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Correo electrónico</strong>
                  </div>
                  <div>
                     <a href="mailto:usuarioapellido@&#64;hotmail.com" class="text-primary">
                        usuarioapellido&#64;hotmail.com
                     </a>
                  </div>
               </div>

               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Número de teléfonos</strong>
                  </div>
                  <div>
                     <strong>Fijo:</strong> +57 (4) 313-70-00
                  </div>
                  <div>
                     <strong>Celular:</strong> (312) 313-44-77
                  </div>
               </div>

               <div class="text-center mb-4">
                  <div class="mb-2">
                     <strong>Sitio Web</strong>
                  </div>
                  <div>
                     <a href="http://www.usuarioapellido.com" class="text-primary">
                        www.usuarioapellido.com
                     </a>
                  </div>
               </div>

               <div class="text-center">
                  <div class="mb-2">
                     <strong>Red social</strong>
                  </div>
                  <div>
                     <a href="http://www.instagram.com/usuarioapellido" class="text-primary d-block mb-1">
                        www.instagram.com/usuarioapellido
                     </a>
                     <a href="http://www.linkedin.com/usuarioapellido" class="text-primary d-block">
                        www.linkedin.com/usuarioapellido
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
